.drop-down_input{
    width: 100%;
    position: relative;
}

.drop-down_input svg{
    position: absolute;
    right:0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
}

.dropdown-menu-wrapper{
    position: absolute;
    z-index: 2;
    border:1px solid #babec5;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 460px;
    background-color: white;
    max-height: 450px;
    overflow-y: scroll;
}

.drop-down{
    width: 100%;
}

.button_area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: solid;
}
