.button{
    background-color: transparent;
    border: solid 2px #FFFFFF;
    border-radius: 20px;
    font-size: 16px;
    padding: 10px 90px;
    color: white;
    outline: none;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.primary-button{
    background-color: rgb(44, 160, 28);
    color: white;
    border: none;
}

.primary-button:disabled{
    cursor: default;
    opacity: 0.5;
}

.white-button{
    border: solid 1px #babec5;
    border-radius: 20px;  
    padding: 8px 20px;
    color: black;
    background-color: white;
}

.black-button{
    background-color: black;
    color: white;
    padding: 5px 22px;
}

.menu-button{
    padding: 10px 40px;
    margin-left: 10px;
}