.button{
    box-shadow:0 0 0 2px #D4D7DC;
    background-color: transparent;
    border: solid 2px #FFFFFF;
    border-radius: 20px;
    font-size: 16px;
    padding: 10px 90px;
    color: white;
    outline: none;
    cursor: pointer;
}
