.project_start_wrapper{
    background-color:#f4f5f8 ;
    width: 100%;
    padding-bottom: 20px;
}

.project_start_content{
    max-width: 600px;
    width: 100%;
    margin-left: 100px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.project_start_header h1{
    max-width: 500px;
    width: 100%;
    font-size: 44px;
    font-weight: 700;
}

.project_start_content button{
    margin-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
}