.simple-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    display: flex;
    width: 100%;
    border:1px solid #babec5;
    margin-bottom: 10px;
}

.simple-card h2{
    margin-bottom: 0;
}

.simple-card h5{
    margin-top: 0;
}

.card_step{
    left: 420px;
    min-width: 500px;
    position: fixed;
    bottom: 470px;
    z-index: 2;
    width: 300px;
    background-color: white;
    border-radius: 4px;
}

@for $i from 2 through 4{
        @if $i == 4{
            .card_step-#{$i}{
                left: 110*$i + 420px;
            }
        }
        @else{
            .card_step-#{$i}{
                left: 110*$i + 370px;
            }
        }
}
.card{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color:#f4f5f8;
display: flex;
width: 100%;
border:1px solid #babec5;
margin-bottom: 10px;
}

.card_header{
    background-color:rgb(210, 213, 218) ;
    display: flex;
    align-items: center;
    align-items: center;
    text-align: left;
    width: 100%;
}
.card_header h4{
    margin: 0;
    padding: 10px;
}
.card_body{
    display: flex;
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-grow: 1;
    border-radius: 4px;
    margin: 8px;
    width: 95%;
    background-color: white;
}

.card_body:hover{
    animation: showBorder 600ms linear;
    animation-fill-mode: forwards;
}

@keyframes showBorder{
    to{
        border:2px solid #babec5;
    }
}

.card_body:hover{
    cursor: pointer;
}

.card_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card_text h5{
    margin-top: 10px;
    margin-bottom: 5px;
}

.card_text p{
    margin-top: 0;
}

.card_step_wrapper{
    width: 90%;
    margin: auto;
}

.card_step_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_step_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_step_button{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
