img{
    transform: scale(2);
}

.demo{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.demo h1{
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 100px;
}
